.admin-menu-aside-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #000;
    opacity: 0.3;
    z-index: 99998;
}

#adminMenuAsideIconCol {
    z-index: 99999;
    margin-top: 100px;
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    text-align: center;
    transition: right 1s ease-in-out;
}
#adminMenuAsideIconCol > div {
    border-bottom: 1px solid #fff;
    background-color: #0a1524;
}
#adminMenuAsideIconCol > div:last-child {
    border: 0;
}
#adminMenuAsideIconCol > div .fa {
    line-height: 40px;
    font-size: 26px;
    color: #fff;
}

#adminMenuBody {
    z-index: 99999;
    display: none;
    position: fixed;
    width: 320px;
    max-width: 100%;
    height: 100%;
    background-color: #333;
    top: 0;
    overflow-y: scroll;
    right: -320px;
    transition: right 1s ease-in-out;
}
#adminMenuBody > .admin-menu-aside-nav-row {
    background-color: #444;
    display: block;
    height: 40px;
    text-align: right;
}
#adminMenuBody > .admin-menu-aside-nav-row .admin-menu-aside-close-button {
    padding: 0;
    border: 0;
    height: 40px;
    margin-left: 1px solid transparent;
}
#adminMenuBody > .admin-menu-aside-nav-row .admin-menu-aside-close-button > i {
    height: 40px;
    margin: 0;
    padding: 7px 10px;
    background-color: red;
    font-size: 26px;
    color: #eee;
}
#adminMenuBody > .admin-menu-aside-content-row {
    padding: 25px 10px;
    overflow-x: hidden;
}
#adminMenuBody > .admin-menu-aside-content-row .admin-menu-aside-item {
    display: none;
}
#adminMenuBody > .admin-menu-aside-content-row .admin-menu-aside-item.active {
    display: block;
}
#adminMenuBody > .admin-menu-aside-content-row .admin-menu-aside-item .admin-menu-aside-item-header {
    color: #fff;
}
#adminMenuBody > .admin-menu-aside-content-row .admin-menu-aside-item .admin-menu-aside-item-header * {
    color: #fff;
}
#adminMenuBody > .admin-menu-aside-content-row .admin-menu-aside-item .admin-menu-aside-item-body, #adminMenuBody > .admin-menu-aside-content-row .admin-menu-aside-item .admin-menu-aside-item-footer {
    color: #ddd;
}
#adminMenuBody > .admin-menu-aside-content-row .admin-menu-aside-item .admin-menu-aside-item-body *, #adminMenuBody > .admin-menu-aside-content-row .admin-menu-aside-item .admin-menu-aside-item-footer * {
    color: #ddd;
}
#adminMenuBody > .admin-menu-aside-content-row .admin-menu-aside-item .admin-menu-aside-item-body select, #adminMenuBody > .admin-menu-aside-content-row .admin-menu-aside-item .admin-menu-aside-item-body option, #adminMenuBody > .admin-menu-aside-content-row .admin-menu-aside-item .admin-menu-aside-item-body input, #adminMenuBody > .admin-menu-aside-content-row .admin-menu-aside-item .admin-menu-aside-item-footer select, #adminMenuBody > .admin-menu-aside-content-row .admin-menu-aside-item .admin-menu-aside-item-footer option, #adminMenuBody > .admin-menu-aside-content-row .admin-menu-aside-item .admin-menu-aside-item-footer input {
    color: #333;
}

html.admin-menu-aside-open .admin-menu-aside-layer {
    display: block;
}
html.admin-menu-aside-open #adminMenuAsideIconCol {
    right: 320px;
}
html.admin-menu-aside-open #adminMenuAsideIconCol > div.active {
    background-color: #004ebd;
}
html.admin-menu-aside-open #adminMenuBody {
    right: 0;
}
